/* css général
===============================================================================*/
* {
   box-sizing: border-box;
}

.box-center {
    margin: 0 auto;
}

body {
    background-color: #f9f9f9;
}
h2 {
    text-align: center;
    padding: 2em 0 2em 0;
    font-family: 'Quattrocento Sans', sans-serif;
}

h2 a {
    font-size: 40px;
    text-decoration: none;
    color: #95989A;
    font-family: 'Quattrocento Sans', sans-serif;
}

h3 a {
    font-size: 38px;
    text-decoration: none;
    color: #95989A;
    font-family: 'Quattrocento Sans', sans-serif;
}

.container {
    width : 1170px;
}

.vertical-align-container {
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-align-box {
    display: table-cell;
    vertical-align: middle;
}

.clearfix::after {
    content : '';
    clear: both;
    display: block;
}
/* Header
==============================================================================*/
h1 {
    font-size: 70px;
    display: inline-block;
    color: lightgrey;
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 span {
    display: block;
    text-align: right;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.title {
    text-align: center;
}

nav {
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'Dosis', sans-serif;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 3em 0 3em;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
    display: block;
    text-align: center;
    padding: 2em;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

header {
    background-image: url(Images/Massif-MB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    position: relative;

}


/* Réalisation
==================================================================================*/

.slider {
    position: relative;
    background-image: url(Images/abcdproject.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 518px;
}

#arrow-left, #arrow-right {
    position: absolute;
    top: 50%;
}

#arrow-left {
    left : -50px;
}

#projects article {
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 5em;
}

#projects article a {
    color: lightgrey;
    text-decoration: none;
}

#projects article h3 {
    font-size: 25px;
    text-align: left;
    font-family: 'Quattrocento Sans', sans-serif;
}

#projects article p {
    text-align: justify;
    font-size: 19px;
    line-height: 1.5;
    font-family: 'Dosis', sans-serif;
}

/* About me
=======================================================================================*/

.portrait {
    width: 470px;
    float: left;
}

#about article {
    border: 1px solid lightgrey;
    background-color: white;
    font-family: 'Dosis', sans-serif;
}
#about article > div {
    float: right;
    width: 698px;
}

#about h3 {
    font-size: 25px;
    font-family: 'Quattrocento Sans', sans-serif;
}

#about span {
    display: block;
    font-size: 21px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.bio-wrapper {
    padding: 2em;
}

.bio-wrapper p {
    padding: 2em;
    font-size: 19px;
    line-height: 1.5;
}

#about li {
    display: inline-block;
    list-style: none;
    padding: 0 2em 0 0;
}

#about ul {
    text-align: center;
}

#about li img {
    width: 57px;
}

/* News
==============================================================================================================*/

#blog {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/**
 * Embarquer du svg dans une css :
 * 1- optimiser l'image svg avec https://jakearchibald.github.io/svgomg/
 * 2- ouvrir le code du svg dans un éditeur, le coller dans https://www.mobilefish.com/services/base64/base64.php
 * 3- utiliser la chaîne de caractères encodée résultant dans la propriété css background: url("data:image/svg+xml;base64,[monSVGEncodé]");
 * Source : https://css-tricks.com/using-svg/#article-header-id-13
 */
hr {
    height: 1.5em;
    border: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMTU1NDcuNzAzIiBoZWlnaHQ9IjI0NTEzLjIwNSIgdmlld0JveD0iMCAwIDgzLjQ4ODY2MyA2LjQ4NTc4NTUiPjxnIHN0cm9rZT0iIzAwMCI+PHBhdGggZD0iTTAgMy4yNDNoMzUuMDU1TTQ4LjQzNCAzLjI0M0g4My40OSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIuMjY1Ii8+PHBhdGggZmlsbD0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIuMjU3IiBkPSJNNDEuNzU0LjI2bDIuOTg0IDIuOTgzLTIuOTg0IDIuOTg0LTIuOTg0LTIuOTg0eiIvPjwvZz48L3N2Zz4=")
}

.tag {
    text-decoration: none;
    color: lightgrey;
    font-family: 'Raleway', sans-serif;
}

.button
{
    background-color: white;
    display: inline-block;
    padding: .7em 1em;
    text-decoration: none;
    color: slategray;
    border: 2px solid slategray;
    border-radius: 1px;
}

#blog > p {
    text-align: right;
    padding-top: 2em;
    font-family: 'Dosis', sans-serif;
}

button:hover,
.button:hover
{
    color: white;
    background-color: slategray;
}

/* Footer
====================================================================================================*/
footer {
    border-top: 1px solid grey;
    margin-top: 2.5em;
    padding: 0.5em;
    text-align: right;
    background-color: white;
    font-family: 'Dosis', sans-serif;
}

footer a {
    text-decoration: none;
    color: #666;
}
