/* css général
===============================================================================*/
*
{
    box-sizing: border-box;
}

.box-center
{
    margin: 0 auto;
}

body
{
    font-family: 'Dosis', sans-serif;
}

a
{
    transition-duration: .5s;

    color: #a76666;
}

a:hover
{
    transition-duration: .5s;

    color: #ff5733;
}

a:active,
a:focus
{
    color: #c70039;
}


h1
{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 70px;

    display: inline-block;

    color: lightgrey;
}

h1 span
{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;

    display: block;

    text-align: right;
}

h2
{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 40px;

    padding: 1.5em 0 1.5em 0;
    color: #95989a;
    text-align: center;
}

h4 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 30px;
    color: #95989a;
    padding: 0 0 0 0;

    text-align: center;
}
img.bio-portait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

#progressLine {
  margin: 20px;
  width: 400px;
  height: 8px;
}

#demicercle {
  margin: 20px;
  width: 200px;
  height: 100px;
}

@media screen and (max-width: 860px) {
    h2{
        padding: 0.5em 0;
        font-size: 30px;
    }
}

h3
{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 38px;

    text-align: center;
}

@media screen and (max-width: 860px) {
    h3 {
        padding: 0.5em 0;
        font-size: 24px;
    }
}

h2 a,
h3 a
{
    text-decoration: none;

    color: #95989a;
}
.container
{
    width: 1170px;
}
img.bio-portait{
    height: 250px;
}

@media screen and (max-width: 1280px)
{
    .container
    {
        width: 970px;
    }
}
@media screen and (max-width: 1069px)
{
    .container
    {
        width: 750px;
    }
}
@media screen and (max-width: 860px)
{
    .container
    {
        width: 580px;
    }
}

@media screen and (max-width: 860px) {
    .container
    {
        width: 460px;
    }
}

@media screen and (max-width: 530px) {
    .container
    {
        width: 340px;
    }
    img.bio-portait{
        height: 200px;
    }
}

.vertical-align-container
{
    display: table;

    width: 100%;
    height: 100%;
}
.vertical-align-box
{
    display: table-cell;

    vertical-align: middle;
}

.clearfix::after
{
    display: block;
    clear: both;

    content: '';
}

/* Header
==============================================================================*/


.title
{
    text-align: center;
}

header
{
    position: relative;

    height: 570px;

    background-image: url(Images/Massif-MB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 1023px)
{
    header
    {
        height: 300px;

        background-image: url(Images/Massif-MB-mobi.jpg);
    }
}

/* Nav (desktop)
==============================================================================*/

#nav
{
    position: absolute;
    bottom: 0;

    width: 100%;

    text-align: center;

    background-color: rgba(0,0,0,.7);
}
@media screen and (max-width: 1023px)
{
    #nav
    {
        display: none;
        visibility: hidden;
    }
}


#nav ul
{
    margin: 0;
    padding: 0;
}

#nav ul li
{
    display: inline-block;

    padding: 0 3em 0 3em;
}

#nav ul li a
{
    display: block;

    padding: 2em;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}
#nav ul li a:hover
{
    color: rgba(234, 34, 34, 1);
    border: 1px solid rgba(234, 34, 34, .7);
    background-color: rgba(0,0,0,.4);
}

.scrollfix-top
{
    z-index: 5000;

    height: 84px;

    transition: 1.5s;

    background-color: rgba(0,0,0,.9);
}


/*
=============================== Nav Mobil ===================================*/

#phone-button
{
    display: none;
    visibility: hidden;
}

.smartphone-nav
{
    display: none;
}

@media screen and (max-width: 1023px)
{
    #phone-button
    {
        display: block;
        visibility: visible;

        width: 100%;

        text-align: right;
    }

    #phone-button p
    {
        display: inline-block;

        margin-right: 1em;
        padding: .7em;

        text-transform: uppercase;

        color: #f00;
        border: 1px solid;
        border-radius: 2px;
    }

    .flex-item a
    {
        display: block;

        width: 100%;
        padding: 1em;

        text-decoration: none;
        text-transform: uppercase;

        color: whitesmoke;
        background-color: rgba(234, 34, 34, .7);
    }

    .flex-container
    {
        display: -webkit-flex;
        display:         flex;
        flex-direction: column;

        width: 100%;
        margin: 0;
        padding: 0;
    }

    .flex-item
    {
        width: 100%;

        list-style: none;

        text-align: center;
    }
}


/* Réalisation
==================================================================================*/


/**
 * Flèches du slider
 **************/

.owl-prev,
.owl-next
{
    position: absolute;
    top: -374px;
}

.owl-prev img,
.owl-next img
{
    height: 40px;
}

@media screen and (max-width: 1280px)
{
    .owl-prev,
    .owl-next
    {
        top: -315px;
    }
}
@media screen and (max-width: 1069px){
    .owl-prev,
    .owl-next
    {
        top: -240px;
    }
}
@media screen and (max-width: 860px){
    .owl-prev,
    .owl-next
    {
        top: -160px;
    }
}

@media screen and (max-width: 530px) {
    .owl-prev,
    .owl-next
    {
        top: -120px;
    }
}
@media screen and (max-width: 430px) {
    .owl-prev,
    .owl-next
    {
        display: none;
    }
}

.owl-prev
{
    left: -50px;
}

.owl-next
{
    right: -50px;
}

/**
 * Slides
 **************/

#projects article
{
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 100%;
    padding: 11em 5em 5em 5em;

    text-align: center;

    color: lightgrey;
    background-color: rgba(0,0,0,.7);
}

.owl-carousel > div
{
    position: relative;
}


@media screen and (max-width: 1280px)
{
    #projects article
    {
        padding: 8em 5em 5em 5em;
    }
}

@media screen and (max-width: 1069px){
    #projects article
    {
        padding: 3em;
    }
}

@media screen and (max-width: 530px) {
    #projects article
    {
        padding: 0em;
    }
    #projects article > h3 {
        font-size: 19px;
        text-align: center;
    }
}


#projects article h3
{
    text-align: left;
}
@media screen and (max-width: 530px) {
    #projects article > h3 {
        font-size: 19px;
        text-align: center;
    }

}

#projects article p
{
    font-size: 19px;
    line-height: 1.5;

    text-align: justify;
}

@media screen and (max-width: 860px)
{

    #projects article > p:not(.projet) {
        display: none;
        visibility: hidden;
    }

}

#projects article p.projet
{
    margin-top: 2em;

    text-align: right;
}

@media screen and (max-width: 860px)
{
    #projects article p.projet {
        text-align: center;
    }
}


#projects article p.projet a
{
    display: inline-block;

    padding: .4em .7em;

    text-decoration: none;

    color: lightgrey;
    border: 1px solid white;
}

#projects article p.projet a:hover,
#projects article p.projet a:focus,
#projects article p.projet a:active
{
    color: black;
    background-color: rgba(255,255,255,.7);
}

/* About me
=======================================================================================*/

.portrait
{
    float: left;

    width: 470px;
}
@media screen and (max-width: 1280px)
{
    .portrait
    {
        width: 300px;
    }
}

#about > article
{
    border: 1px solid lightgrey;
    background-color: white;
}
#about > article > div
{
    float: right;

    width: 698px;
}

@media screen and (max-width: 1280px)
{
    #about article > div
    {
        width: 630px;
        padding: 1em;
    }
}

.bio-wrapper
{
    padding: 2em;
}

@media screen and (max-width: 1280px)
{
    .bio-wrapper
    {
        padding: 0;
    }
}

.bio-wrapper p
{
    font-size: 19px;
    line-height: 1.5;

    padding: 2em;
}

@media screen and (max-width: 1280px)
{
    .bio-wrapper p
    {
        font-size: 19px;
        line-height: 1;

        padding: 0;
    }
}

.bio-wrapper h3
{
    font-size: 25px;

    text-align: left;
}

.bio-wrapper h3 span
{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;

    display: block;

    text-align: left;
}

.bio-wrapper ul
{
    text-align: center;
}

@media screen and (max-width: 1280px)
{
    .bio-wrapper ul
    {
        margin-top: 2.7em;
    }
}

.bio-wrapper li
{
    display: inline-block;

    padding: 0 2em 0 0;

    list-style: none;
}

.bio-wrapper li img
{
    width: 57px;
}

@media screen and (max-width: 1280px)
{
    .bio-wrapper li img
    {
        width: 37px;
    }
}

/*
*
* Smartphone-about
*
**************************/

#smartphone-about
{
    display: none;
    visibility: hidden;
    background: transparent url(Images/Goerges-Abitbol.jpg) top center no-repeat;
    background-size: cover;
    line-height: 1.5;
}

#smartphone-about > article {
    background-color: rgba(255,255,255,0.6);
    padding: 8em 8em 8em 8em;
}
#smartphone-about h3
{
    font-size: 25px;
    text-align: left;
    margin-bottom: 3em;
}

#smartphone-about span
{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;

    display: block;

    text-align: left;
}

#smartphone-about p {
    font-family: 'Dosis', sans-serif;
    font-size: 19px;
}

#smartphone-about ul
{
    text-align: center;
    padding-top: 2em;
}

#smartphone-about li {
    list-style: none;
    display: inline-block;
    margin: 2em;
}

#smartphone-about li img {
     width: 47px;
}
@media screen and (max-width: 1069px)
{
    #about > article
    {
        display: none;
        visibility: hidden;
    }
    #smartphone-about
    {
        display: block;
        visibility: visible;
    }
}
@media screen and (max-width: 860px) {
    #smartphone-about > article {
        padding: 4em 4em 4em 4em;
    }
}
@media screen and (max-width: 860px) {
    #smartphone-about > article {
        padding: 2em 2em 2em 2em;
    }
    #smartphone-about h3 {
        margin-bottom: 1.5em;
    }
    #smartphone-about ul {
        padding: 1em;
    }
    #smartphone-about li {
        margin: 1em;
    }
}
/* News
==============================================================================================================*/

#blog
{
    text-align: center;
}

#blog p,
#blog a
{
    font-family: 'Raleway', sans-serif;
}

/**
 * Embarquer du svg dans une css :
 * 1- optimiser l'image svg avec https://jakearchibald.github.io/svgomg/
 * 2- ouvrir le code du svg dans un éditeur, le coller dans https://www.mobilefish.com/services/base64/base64.php
 * 3- utiliser la chaîne de caractères encodée résultant dans la propriété css background: url("data:image/svg+xml;base64,[monSVGEncodé]");
 * Source : https://css-tricks.com/using-svg/#article-header-id-13
 */
hr
{
    height: 1.5em;

    border: 0;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMTU1NDcuNzAzIiBoZWlnaHQ9IjI0NTEzLjIwNSIgdmlld0JveD0iMCAwIDgzLjQ4ODY2MyA2LjQ4NTc4NTUiPjxnIHN0cm9rZT0iIzAwMCI+PHBhdGggZD0iTTAgMy4yNDNoMzUuMDU1TTQ4LjQzNCAzLjI0M0g4My40OSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIuMjY1Ii8+PHBhdGggZmlsbD0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIuMjU3IiBkPSJNNDEuNzU0LjI2bDIuOTg0IDIuOTgzLTIuOTg0IDIuOTg0LTIuOTg0LTIuOTg0eiIvPjwvZz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.tag
{
    font-size: 15px;

    text-decoration: none;
}

#blog > p
{
    padding-top: 2em;

    text-align: right;
}


#blog > p a.button
{
    display: inline-block;

    padding: .7em 1em;

    text-decoration: none;

    color: slategray;
    border: 2px solid slategray;
    border-radius: 1px;
    background-color: white;
}

#blog > p a.button:hover
{
    color: white;
    background-color: slategray;
}


/* Footer
====================================================================================================*/
footer
{
    margin-top: 2.5em;
    padding: .5em;

    text-align: right;

    border-top: 1px solid grey;
    background-color: white;
}

footer a
{
    text-decoration: none;

    color: #666;
}
/*============================ formulaire contact ================================*/
form {
    width: 750px;
    padding-bottom: 2em;
}

form p {
    text-align: center;
}

button.button {
        display: inline-block;

        padding: .7em 1em;

        color: slategray;
        border: 2px solid slategray;
        border-radius: 2px;
        background-color: white;
}

button.button:hover,
button.button:focus
{
    color: white;
    background-color: slategray;
}


.input-center {
    padding: 1em;
    display: inline-block;
    width: 33%
}

.textarea-center {
    padding: 1em;
    width: 100%
}

input {
    padding: 0.5em;
    border: 1px solid slategray;
    border-radius: 2px;
    background-color:whitesmoke;
    font-family: 'Dosis', sans-serif;
    color: black;
    width: 100%;
}

textarea {
    border: 1px solid slategray;
    border-radius: 2px;
    background-color:whitesmoke;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 150px;
    color: black;
}